.home__header {
  background-color: #517da2;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  align-items: center;
  color: white;
  border: 2px solid #517da2;
}

.home__body {
  border: 2px solid #517da2;
  height: 700px;
}

.home__header .header-name {
  position: absolute;
  left: 60px;
}

.home__body .home__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  margin-top: 5px;
  padding: 7px;
}

.home__body img {
  width: 50px;
  border-radius: 25px;
}

.home__column .chat__preview {
  border-bottom: 1px solid #517da2;
}

.home__body .chat__preview {
  position: absolute;
  left: 70px;
  width: 375px;
}

.chat__preview .preview__column {
  margin-bottom: 5px;
}

.chat__preview .preview__name {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
}

.chat__preview .preview__message {
  font-size: 14px;
  opacity: 0.7;
}

.chat__time {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
}
