.chat__body {
  background-image: url("../images/telegram_background.jpg");
  min-height: 1200px;
}

.chat__body .chatting__list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat__body .chatting__timestamp {
  color: white;
  font-weight: bold;
  opacity: 0.5;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 800px;
  margin-bottom: 30px;
  background-color: #7a7a7a;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  width: 50%;
}

.message .message__content {
  /* width: 100%; */
  background-color: #f7f7f7;
  margin-top: 10px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
  text-align: end;
}

.message .message__content {
  background-color: white;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 15px 20px;
  border-radius: 20px;
}
.incoming-message .message__content {
  border-bottom-left-radius: 0px;
  margin-left: 5px;
}

.sent-message .message__content {
  margin-left: 15px;
  border-bottom-right-radius: 0px;
  background-color: greenyellow;
}

.message__bubble {
  font-size: 18px;
}

.message__time {
  padding-top: 12px;
  padding-left: 5px;
  font-size: 16px;
  opacity: 0.6;
}

.chat__write--container {
  margin-top: 20px;
  display: flex;
  background-color: #f7f7f7;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
}

.chat__write--container i {
  opacity: 0.6;
}

.text__input {
  margin-right: 460px;
  font-size: 23px;
  opacity: 0.6;
}
