.top__header {
  display: flex;
  justify-content: space-between;
  background-color: #426382;
  padding: 10px 30px 10px 10px;
  color: white;
}

.app__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 10px;
  color: white;
  background-color: #517da2;
}

.header__column {
  display: flex;
}

.header__column .header__icon,
.header__column .header__text {
  margin-left: 15px;
  font-size: 20px;
}

.header__column .app__header-icon,
.header__column .app__header-text {
  margin-left: 15px;
  font-size: 28px;
  align-items: center;
}

.header__column .app__header-text {
  margin-left: 60px;
  font-weight: bold;
}
