@import "reset.css";
@import "chat.css";
@import "home.css";
@import "header.css";
@import "bottom.css";

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.header__column a {
  color: white;
}
